<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tolabulilm.jadwalkajian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingActivity"
            android:label="Menu"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.user.MainActivity" />
        </activity>
        <activity
            android:name=".setting.admin.AddKajianActivity"
            android:label="@string/title_activity_add_kajian"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".setting.admin.AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.setting.admin.AdminActivity"/>
        </activity>
        <activity
            android:name=".kajian.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".user.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.user.MainActivity" />
        </activity>
        <activity
            android:name=".setting.admin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.setting.SettingActivity" />
        </activity>
        <activity
            android:name=".setting.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.setting.SettingActivity" />
        </activity>
        <activity
            android:name=".setting.about.LicenseActivity"
            android:label="@string/title_activity_lincense"
            android:parentActivityName=".setting.about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.setting.about.AboutActivity" />
        </activity>
        <activity
            android:name=".setting.donasi.InfoDonasiActivity"
            android:label="@string/title_activity_info_donasi"
            android:parentActivityName=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tolabulilm.jadwalkajian.setting.SettingActivity" />
        </activity>
    </application>

</manifest>
